* {
  width: 1440px;
  margin: auto;
  box-sizing: border-box;
  /* text-align: center; */
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
}

#icon_top {
  width: 1rem;
  color: #98A2B3;
  margin-top: 4rem;
  margin-left: 66rem;
}

#icon_mobile {
  display: none;
  width: 1rem;
  color: #98A2B3;
  margin-top: 4rem;
  margin-left: 332px;
}

#profile__img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2.7rem;
  object-fit: cover;
}

header {
  text-align: center;
}

header p {
  margin: 1.5rem 0 3.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#twitter,
#slack,
#btn__zuri,
#books,
#book__python,
#pitch,
#book__design,
#contact {
  text-align: center;
  background-color: #EAECF0;
  padding: 1.5rem;
  color: #101828;
  border-radius: 8px;
  width: 80%;
  margin: 0 9rem;
  font-size: 1.1rem;
  font-weight: 500;
}

#slack {
  display: none;
}

.logo {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  padding: 1.5rem;
}

.logo img {
  width: 1.5rem;
  margin-right: 1.6rem;
}

#zuri_logo {
  width: 11.5rem;
}

#i4g_logo {
  width: 8.2rem;
}

footer {
  text-align: center;
  width: 100%;
  display: flex;
  align-content: space-between;
  padding: 5.3rem 7rem 3rem 7rem;
}

footer p {
  color: #667085;
  font-size: 1rem;
  font-weight: 400;
}

form {
  width: 50%;
  margin: auto;
}

#first_name {
  width: 348px;
}

#last_name {
  width: 348px;
}

#first_name,
#last_name,
#email {
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
}

#message {
  resize: none;
  height: 132px;
}

#btn__submit {
  width: 100%;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #FFFFFF;
  padding: 12px;
}

#form {
  align-items: center;
}

#form h2 {
  font-size: 36px;
  margin-top: 156px;
  margin-left: 360px;
}

#form-para {
  margin-left: 360px;
  font-size: 20px;
}

@media screen and (max-width: 375px) {

  * {
    width: 375px;
    /* text-align: center; */
  }
  
  #twitter,
  #slack,
  #btn__zuri,
  #books,
  #book__python,
  #pitch,
  #book__design,
  #contact {
    width: 343px;
    margin: auto;
  }

  footer {
    flex-direction: column;
    gap: 16px;
    padding: 69px 146px 32px 16px;
  }

  footer img {
    margin: 0;
  }

  footer p {
    text-align: left;
  }

  #zuri_logo {
    width: 138px;

  }

  #i4g_logo {
    width: 99px;
  }

  #icon_top {
    display: none;
  }

  #icon_mobile {
    display: block;
  }

  #form-para,
  #form h2 {
    margin-left: 16px;
  }

  #message,
  #email,
  #btn__submit {
    width: 343px;
  }

  #form {
    align-items: flex-start;
    max-width: 343px;
    
  }

  .row {
    margin-left: 16px;
  }

  .form-check-label {
    width: 311px;
  }
}